@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300&family=Sedgwick+Ave+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #0000ff;
  --secondary: #14496c;
  --acc: rgb(108, 128, 150);
}
:root {
  font-family: "Roboto", sans-serif;
}
.font-title {
  font-family: "Sedgwick Ave Display", cursive;
}
