@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300&family=Sedgwick+Ave+Display&display=swap");
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import '/node_modules/swiper/swiper.css';
@import '/node_modules/swiper/modules/pagination.css';
@import '/node_modules/swiper/modules/navigation.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #0000ff;
  --secondary: #14496c;
  --acc: rgb(108, 128, 150);
}

body{
  background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  overflow-x: hidden;
  /* background: linear-gradient(to right, #00BECC,#6375D9 400px,#7E2FE0 80%); */
}
:root {
  font-family: "Roboto", sans-serif;
}
.font-title {
  font-family: "Sedgwick Ave Display", cursive;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.mySwiper2 {
  width: 90vw;
  height: 400px;
}

.mySwiper {
  height: 20%;
  width: 95%;
  box-sizing: border-box;
  margin-top: 10px;
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0%;
  --swiper-navigation-color: white;
  background-color: rgba(0, 0, 0, 1);
}

.swiper-Minislide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  opacity: 0.5;
  object-fit: cover;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slideImg {
  display: block;
  position: center;
  height: 600px;
  object-fit: fill;
  transition: 1s;
}

.etiquette{
  display: none;
}
.swiper-slide:hover .etiquette{
  display: block;
}
.swiper-slideImg:hover{
  transform: scale(1.2);
  transition: 1s;
}

.card{
  transition: 1s;
}
.card:hover{
  transform: scale(1.2);
  transition: 1s;
}

.myShadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.myTextBox :first-child{
  transition: 1s;
}

.myTend{
  z-index: 20;
}
.myTendR{
  background-image: url("./assets/image/videogameimage.jpg");
  background-size: cover;
  background-position: center;
}
.myTend:hover .myTendL{
animation-name: moveLeft;
animation-duration: 2s;
animation-fill-mode: forwards;
}
.myTend:hover .myTendR{
animation: moveRight 2s forwards;
}
@keyframes moveLeft {
from{}
to{left: -2000px;
  display: none;}
}
@keyframes moveRight {
0%{}
100%{right: -2000px;
display: none;}
}

.myTextBox::before, .myTextBox::after{
  opacity: 0;
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 1;
  transition: 1s; 
  animation: steam 20s linear infinite;
  
}
/* .myTextBox:hover .myTextBox::before, .myTextBox::after{
  opacity: 1;
} */
.myTextBox:hover :first-child{
  opacity: 1;
  transition: 1s;
  transform: scale(1.2);
} 
.myTextBox:hover::after , .myTextBox:hover::before {
 opacity: 1;
}

@keyframes steam {
  0% {
    background-position: 0 0;
    z-index: -1;
  }
  50% {
    background-position: 400% 0;
    z-index: -1;
  }
  100% {
    background-position: 0 0;
    z-index: -1;
  }
}

.myTextBox:after{
  filter: blur(50px);
  z-index: -1;
}