@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300&family=Sedgwick+Ave+Display&display=swap");
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import '/node_modules/swiper/swiper.css';
@import '/node_modules/swiper/modules/pagination.css';
@import '/node_modules/swiper/modules/navigation.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #0000ff;
  --secondary: #14496c;
  --acc: rgb(108, 128, 150);
}

body{
  background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  overflow-x: hidden;
  /* background: linear-gradient(to right, #00BECC,#6375D9 400px,#7E2FE0 80%); */
}
:root {
  font-family: "Roboto", sans-serif;
}
.font-title {
  font-family: "Sedgwick Ave Display", cursive;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.mySwiper2 {
  width: 90vw;
  height: 400px;
}

.mySwiper {
  height: 20%;
  width: 95%;
  box-sizing: border-box;
  margin-top: 10px;
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0%;
  --swiper-navigation-color: white;
  background-color: rgba(0, 0, 0, 1);
}

.swiper-Minislide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  opacity: 0.5;
  object-fit: cover;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slideImg {
  display: block;
  position: center;
  height: 600px;
  object-fit: fill;
  transition: 1s;
}

.etiquette{
  display: none;
}
.swiper-slide:hover .etiquette{
  display: block;
}
.swiper-slideImg:hover{
  transform: scale(1.2);
  transition: 1s;
}

.card{
  transition: 1s;
}
.card:hover{
  transform: scale(1.2);
  transition: 1s;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}